*{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box; 
    padding: 0; 
    margin: 0;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
    background-color: #558dbd;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.position-container{
    position: relative;
}

.position-container img {
    width: 100%;
}

.position-container p {
    position: absolute;
    top: 50%;
    left: 28%;
    color: white;
    font-size: 4rem;
    font-weight: 600;
}

.container h1 {
    background-color: aliceblue;
    text-align: center;
    font-size: 3rem;
    padding-top: 10px;
    font-weight: 600;
}

.capitais {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: space-around;
    background-color: aliceblue;
    padding: 50px;
}

.capitais > div{
    height: 88px;
    box-shadow: 2px 2px 6px #888888;
    border-radius: 7px;
    margin: 10px;
    background-color: white;
}

.capitais > div > div{
    display: inline-block;
    vertical-align: middle;
}

.capitais > div > div img{
    border-radius: 7px 0px 0px 7px;
    height: 100%;
}

.capitais  div  div:last-child{
    width: 120px;
    color: black;
    padding: 20px;
    text-align: center;
}


.bordered-container {
    background-color: aliceblue;
    padding: 20px 0px;
}

.bordered-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 80, 180);
    width: 150px;
    height: 150px;
    margin: 20px auto;
    border-radius: 100%;
}


.bordered-container > div p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

header {
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header > div > h1 {
    font-size: 2.5rem;
    font-weight: 600;
    padding-left: 10px;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div > nav {
    display: flex;
    justify-content: center;
}

header > div > nav > a{
    padding: 20px;
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: 500;
}

header > div > nav > a:hover{
    background-color: #f0f0f0;
    font-weight: bold;
}

.grid > * {
    padding: 10px;
    border: 1px solid;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    background-color: #909090;
    font-size: 2.5rem;
}

.grid {
    display: grid;
    height: 600px;
    background-color: rgb(175, 175, 175);
    grid-template-areas: 
    'header header header'
    'menu main aside'
    'menu footer footer';
    grid-template-columns: 15vw 4fr 1fr;
    grid-template-rows: 20% 30vh 1fr;
    gap: 10px;
    padding: 10px;
}

.grid > header {
    box-shadow: none;
    grid-area: header;
    background-color: rgb(255, 255, 255);
}

.grid > nav {
    display: flex;
    background-image: url("/images/cloud.jpg");
    background-size:cover;
    grid-area: menu;
    background-color: rgb(222, 222, 222);
    justify-content: center;
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
}

.grid > main {
    display: flex;
    grid-area: main;
    background-image: url("/images/mountains.jpg");
    background-size:cover;
    background-position: 50% 3%;
    justify-content: center;
    align-items: center;
    font-size: 4.5rem;
    font-weight: 500;
    color: white;
}

.grid > aside {
    grid-area: aside;
}

.grid > footer {
    grid-area: footer;
    background-color: #6e6e6e;
}